1. What exactly is [] ?

In [ ]:
This is a Empty list which contains no value inside.

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.) Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [4]:
spam = [2,4,6,8,10]

spam[2] = "Hello"

In [5]:
spam

[2, 4, 'Hello', 8, 10]

we will assign a value at 2nd index to assign Hello to third value as in python starting index always start from zero. So, here we will assign the "Hello" to 2nd index.

3. What is the value of spam[int(int('3' * 2) / 11)]?

In [2]:
spam = ['a','b','c','d']

spam[int(int('3' * 2) / 11)]

'd'

In the statement above we are assigning 4 elements to the variable spam. now in the second line of code string "3" is getting multiplied by 2 which means 3 is getting repeated twice resulting in "33" then the second line of code changes this expression into Integer value now "33" is integer which divided by 11 gives us 3. Now this 3 is referring to the element at the 3rd index in the list i.e "d"

4. What is the value of spam[-1]?

In [3]:
spam[-1]

'd'

In [ ]:
The value will be "d" as -1 specifies that the value will start from the last i.e. negative index.

5. What is the value of spam[:2]?

In [4]:
spam[:2]

['a', 'b']

since we are not specifying the starting index. The equation will return the values from default which is start till the given index which 2nd. So, the output will print till 1st index i.e.'a' and 'b' omitting the last index .

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [14]:
bacon = [3.14,'cat',11,'cat',True]

6. What is the value of bacon.index('cat')?

In [15]:
bacon.index('cat')

1

The code will run and search for the first occurence of the "cat" and wil return the index of 'cat' i.e. 1. It will not return  the second occurence of the cat which is at index '3'

7. How does bacon.append(99) change the look of the list value in bacon?

In [16]:
#the element 99 will be added to the list at the end.
# Here's the output :
bacon

[3.14, 'cat', 11, 'cat', True]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [17]:
#It will remove the "cat" element from the list. 
bacon.remove('cat')

In [18]:
#The edited list will lokk like this :
bacon

[3.14, 11, 'cat', True]

9. What are the list concatenation and list replication operators?

In [22]:
#List concatenation : + operator is used to concatenate two lists. Here's an example:
a = [1,2,3]
b = [4,5,6,7]

print(a,b,a+b)

#list replication : * operator is used to replicate lists. Here's an example for the same :
a = [1,3,5,7,9]
a*3

[1, 2, 3] [4, 5, 6, 7] [1, 2, 3, 4, 5, 6, 7]

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

10. What is difference between the list methods append() and insert()?

Append will add values to the end of the list while with insert can add them anywhere in the list.

11. What are the two methods for removing items from a list?

Delete statement and Remove() are the two methods for remove items from a list

12. Describe how list values and string values are identical.

In [ ]:
Both string and list can be passed to len(), they both have indexes and slices, can be used for loops

13. What's the difference between tuples and lists?

Tuples are immutable; they can not have any changes made to them. Lists are mutable; you can add values to list or remove them from list. Lists are wtitten with square breacker[] whereas,Tuples use parentheses()

14. How do you type a tuple value that only contains the integer 42?

In [31]:
a = (42,)
print(a)
# the comma at the end is mandatory as it distinguishes the tuple from an integer

(42,)

In [32]:
type(a)

tuple

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [43]:
#by using list[] and tuple() functions
a = (1,2,3,4)
b = [5,6,7,8]

print(list(a))

tuple(b)

[1, 2, 3, 4]

(5, 6, 7, 8)

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [49]:
#They may contains referrence to another list inside. for e.g.
l1 = [1,2,3,4]
l2 = l1
l2.append(47)

print(l1,l2)

#As you can see by appending list 2; list 1 got appended aswell because of the list referrence.

[1, 2, 3, 4, 47] [1, 2, 3, 4, 47]

17. How do you distinguish between copy.copy() and copy.deepcopy()?

copy.copy() will only do a shallow copy of a list, while copy.deepcopy() will create a detailed copy i.e. only copy.deepcopy() will duplicate any list inside the list.